*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* Primary Styles */
.btn-primary{
    padding: 17px 30px;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    color: white;
    background-color: #ff3131;
}

.section-title{
    font-size: 40px;
}
.section-text{
    color: gray;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 25px;
    margin: 30px 0;
}
hr{
    color: gray;
    width: 900px;
    margin: 0 auto 30px;
}

/* Banner Styles */
.banner{
    background-image:linear-gradient(to bottom, rgba(117, 246, 136, 0), rgba(0, 0, 0, 0.932)), url('../images/donation9.jpg');
    height: 720px;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-content{
    text-align: center;
    position: relative;
    top: 40%;
}
.banner-content h1{
    color: white;
    font-size: 70px;
    font-weight: 700;
}
.banner-content p{
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 25px;
    margin: 20px 0 30px;
}

/* Donate Today Styles */
.donate{
    text-align: center;
    margin-top: 120px;
}
.amount{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
}
.btn-tk{
    font-size: 40px;
    font-weight: 500;
    width: 160px;
    height: 120px;
    color: #707070;
    background-color: #f3f2f2;
    border: 0;
    border-radius: 5px;
}
.btn-tk:hover{
    color: #ff3131;
    background-color: #FEE;
    border: 1px solid #ff3131;
}
.donate input{
    border: none;
    margin-top: 30px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

/* Plan Styles */
.plan-header{
    text-align: center;
    margin-top: 120px;
}
.plan-container{
    display: flex;
    margin: 60px 200px;
    gap: 20px;
}
.plan-box{
    padding: 50px 30px;
}
.plan-title{
    font-size: 22px;
    margin: 20px 0;
}
.plan-text{
    font-size: 18px;
    color: #707070;
}
.first-color{
    background-color: #4F9DA61A;
}
.second-color{
    background-color: #FF59591A;
}
.third-color{
    background-color: #FFF4D6;
}

/* How To Contribute Styles */
.contribute{
    margin: 100px 200px 0;
}
.contribute-box{
    display: flex;
    gap: 100px;
    align-items: center;
    margin-bottom: 100px;
}
.contribute-img{
    width: 50%;
}